{% extends 'AppBundle:Templates:template.html.twig' %}

{% block main_content %}
    <h1>Paragraphe</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paragraphe.id }}</td>
            </tr>
            <tr>
                <th>Contenue</th>
                <td>{{ paragraphe.contenue }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ paragraphe.numero }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ paragraphe.libelle }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ paragraphe.position }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('document_paragraphe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('document_paragraphe_edit', { 'id': paragraphe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
