{% extends 'AppBundle:Templates:template.html.twig' %}

{% block main_content %}
    <h1>Image</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ image.source }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ image.numero }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ image.libelle }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ image.position }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('document_image_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('document_image_edit', { 'id': image.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
