{% extends 'AppBundle:Templates:template.html.twig' %}

{% block main_content %}
    <h1>Sections list</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Documents</h3>

                    <div class="box-tools pull-right">
                        <a href="{{path('document_document_new')}}">
                            <button type="button" class="btn btn-box-tool btn-info" ><i class="fa fa-plus-circle"></i>
                            </button>
                        </a>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-wrench"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
{#                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row"> 
                        <div class="col-md-12">

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td><a href="{{ path('document_section_show', { 'id': section.id }) }}">{{ section.id }}</a></td>
                <td>{{ section.numero }}</td>
                <td>{{ section.libelle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('document_section_show', { 'id': section.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('document_section_edit', { 'id': section.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('document_section_new') }}">Create a new section</a>
        </li>
    </ul>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.col -->
    </div>   
{% endblock %}
