{% extends 'base.html.twig' %}

{% block body %}
    <h1>Element</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ element.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ element.numero }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ element.libelle }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ element.position }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('document_element_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('document_element_edit', { 'id': element.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
