{% extends 'base.html.twig' %}

{% block body %}
    <h1>Propositions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Motif</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proposition in propositions %}
            <tr>
                <td><a href="{{ path('document_proposition_show', { 'id': proposition.id }) }}">{{ proposition.id }}</a></td>
                <td>{{ proposition.motif }}</td>
                <td>{{ proposition.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('document_proposition_show', { 'id': proposition.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('document_proposition_edit', { 'id': proposition.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('document_proposition_new') }}">Create a new proposition</a>
        </li>
    </ul>
{% endblock %}
