{% extends 'NSIDocsBundle:Templates:template.html.twig' %}

{% block body %}
    <h1>Fichier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fichier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fichier.nom }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ fichier.taille }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ fichier.type }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ fichier.numero }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ fichier.libelle }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ fichier.position }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('document_fichier_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('document_fichier_edit', { 'id': fichier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
