{% extends 'AppBundle:Templates:template.html.twig' %}

{% block main_content %}
    <h1>Attribution</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attribution.id }}</td>
            </tr>
            <tr>
                <th>Dateattribution</th>
                <td>{% if attribution.dateAttribution %}{{ attribution.dateAttribution|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acteurs_attribution_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('acteurs_attribution_edit', { 'id': attribution.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
